/* Animation for "Programmer for Hire Begins" */
.ml14 {
    font-weight: 200;
    font-size: 3.2em;
  }
  
.ml14 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
.ml14 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform-origin: 100% 100%;
    bottom: 0;
  }
  
.ml14 .letter {
    display: inline-block;
    line-height: 1em;
  }

  /* Animation for "Programmer for Hire Ends" */

/* Strong Animation Start (Little "Serene Sparkles TM")*/
  .ml13 {
    font-size: 1.9em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-weight: 600;
  }
  
  .ml13 .letter {
    display: inline-block;
    line-height: 1em;
  }

  /*Strong Animation Ends*/

  /* Online Millionaires Animation Begins*/
  .ml5 {
    position: relative;
    font-weight: 300;
    font-size: 4.5em;
    color: #402d2d;
  }
  
  .ml5 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    line-height: 1em;
  }
  
  .ml5 .line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: #fff /*#402d2d*/;
    transform-origin: 0.5 0;
  }
  
  .ml5 .ampersand {
    font-family: Baskerville, "EB Garamond", serif;
    font-style: italic;
    font-weight: 400;
    width: 1em;
    margin-right: -0.1em;
    margin-left: -0.1em;
  }
  
  .ml5 .letters {
    display: inline-block;
    opacity: 0;
  }
  /* Online Millionaires Animation Ends*/

  .ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }


  .ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
  }
  .ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
  }

  .ml3 {
    font-weight: 900;
    font-size: 3.5em;
  }


  .ml16 {
    color: greenyellow/*#402d2d*/;
    /*padding: 40px 0;*/
    padding: 0;
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    overflow: hidden;
  }
  
  .ml16 .letter {
    display: inline-block;
    line-height: 1em;
  }